.heading
	margin-bottom 28px

	&__title
		margin-bottom 6px
		font(PTSans-Bold)
		font-size 24px
		color $brown

		@media $mobile
			letter-spacing -.01em

	&__subtitle
		font(PTSans-Regular)
		font-size 15px
		line-height 23px
		letter-spacing -.58px
		color $dark_thin
