.signature
	margin-top 80px

	@media $mobile
		margin-top 30px

	&__row
		display flex
		align-items flex-end

		@media $mobile
			justify-content: space-between

	&__label
		margin-right 20px
		font(PTSans-Bold)
		font-size 22px
		color $brown

		@media $mobile
			margin-right 0
			font-size 16px

	&__field
		position relative
		overflow hidden
		width 210px
		height 41px

		@media $mobile
			width 160px
			height 32px

		&::after
			position absolute
			display block
			content ''
			retinaSprite $input_text_line_group
			right 0
			bottom 0

	&__input
		padding-x(9px)
		font(CourierNew, 400)
		font-size 30px
		line-height 30px

		&:focus
			opacity .5

		@media $mobile
			padding-x(10px)
			width 100%
			font-size 22px
			line-height 22px
