.skills
	margin-top 60px

	@media $mobile
		margin-top 30px

	&__checkboxs
		height 250px
		flex-wrap wrap
		display flex
		flex-direction column
		justify-content flex-start

		@media $mobile
			height 100%

